<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :url_image, class:"form-label" %>
    <%= form.text_field :url_image, class:"form-control", placeholder:"URL" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :role_id, class:"form-label" %>
    <%= form.select("role_id", @set_role_options, { include_blank: t('message.select') }, class:"form-select") %>
  </div>

  <div class="mb-3">
    <%= form.submit nil, class:"btn btn-primary" %>
  </div>
<% end %>
