<p id="notice"><%= notice %></p>

<p>
  <strong><%= Person.human_attribute_name(:description) %></strong>
  <%= @person.description %>
</p>

<p>
  <strong><%= Person.human_attribute_name(:url_image) %></strong>
  <%= @person.url_image %>
</p>

<p>
  <strong><%= Person.human_attribute_name(:role_id) %></strong>
  <%= @person.role.description %>
</p>

<%= link_to t('links.edit'), edit_person_path(@person) %> |
<%= link_to t('links.back'), people_path %>
