<p id="notice"><%= notice %></p>
<form>
  <div class="mb-3">
    <%= label_tag :description %>
    <%= text_field_tag nil, @person.description, class:"form-control", disabled: true %>
  </div>
  
  <div class="mb-3">
    <%= label_tag :url_image %>
    <%= text_field_tag nil, @person.url_image, class:"form-control", disabled: true %>
  </div>
  
  <div class="mb-3">
    <%= label_tag :role_id %>
    <%= text_field_tag nil, @person.role.description, class:"form-control", disabled: true %>
  </div>
</form>

<%= link_to t('links.edit'), edit_person_path(@person), class:"btn btn-primary" %>
<%= link_to t('links.back'), people_path, class:"btn btn-primary" %>