<h1><%= t('name_app') %></h1>
<p>
  <%= link_to 'Português', root_path(locale: 'pt-BR') %>
</p>
<p>
  <%= link_to 'English', root_path(locale: 'en') %>
</p>
<ul>
  <li>
    <%= link_to Person.model_name.human(count: 2), people_path %>
  </li>
  <li>
    <%= link_to Role.model_name.human(count: 2), roles_path %>
  </li>
</ul>
