<p id="notice"><%= notice %></p>

<h1><%= @roles.model_name.human(count: @roles.count) %></h1>

<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th><%= @roles.human_attribute_name(:description) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.description %></td>
        <td><%= link_to t('links.show'), role, class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to t('links.edit'), edit_role_path(role), class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to t('links.delete'), role, method: :delete, data: { confirm: t('message.confirm') }, class:"btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.role'), new_role_path, class:"btn btn-primary" %>
<%= link_to t('links.back'), welcome_index_path, class:"btn btn-primary" %>
